:root {
  --highlight-color: #FFA;
  --bookmark-color: aliceblue;
  --bookmark-emphasis-color: lightblue;
  --bookmark-emphasis-color-darker: #88B2F3;
  --border-radius: 5px;
  --emphasis-border-width: 4px;
}

/* resets
 *********/
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: 0;
  padding: 0;
}

/* application
 **************/

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  text-align: center;
  margin: 0;
  padding: 10px;
  min-height: calc(100vh - 20px);
}

#tab-index-reset {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  position: fixed;
}

#header {
  grid-area: header;
}

#main {
  display: flex;
  flex-direction: column;
}

#footer {
  grid-area: footer;
}

#main .bookmark {
  border-radius: var(--border-radius);
  background-color: var(--bookmark-color);
  --margin: 5px;
  margin: var(--margin);
  padding: 10px;
  text-align: center;
}

#main .bookmark:focus {
  background-color: var(--bookmark-emphasis-color);
}

#main .bookmark {
  z-index: 1;
}

#main .bookmark:focus {
  z-index: 2;
  outline: none;
  border-width: var(--emphasis-border-width);
  border-style: solid;
  border-color: var(--bookmark-emphasis-color-darker, blue);
  margin: calc(var(--margin) - var(--emphasis-border-width));
}

#main .bookmark strong {
  text-decoration: underline;
  position: relative;
  display: inline-block;
  z-index: -1;
}

#main .bookmark strong:after {
  content: '';
  position: absolute;
  width: 100%;
  background: var(--highlight-color);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  height: 1.6em;
  width: 1.6em;
  border-radius: 50%;
  z-index: -1;
  transition-property: width, height;
  transition-timing-function: cubic-bezier(0.085, 0.885, 0.275, 0.930);
}

#main .bookmark:hover strong:after {
  transition-duration: 2s;
  height: 4em;
  width: 4em;
}

#main .bookmark.keydown strong:after {
  transition-duration: 30s;
  height: 200vw;
  width: 200vw;
}

#main .bookmark-parameter {
  font-size: 1.8em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--border-radius);
  border-style: solid;
  --outline: var(--bookmark-emphasis-color);
  border-top-color: var(--outline);
  border-right-color: var(--outline);
  border-bottom-color: var(--outline);
  border-left-color: var(--outline);
  box-shadow: none;
}

#main .bookmark-parameter:focus {
  --outline: var(--bookmark-emphasis-color-darker);
  border-width: var(--emphasis-border-width);
  margin-top: calc(2px - var(--emphasis-border-width));
  margin-bottom: calc(2px - var(--emphasis-border-width));
  outline: none;
}
