/* resets
 *********/
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: 0;
  padding: 0;
}

/* application
 **************/

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  text-align: center;
  margin: 0;
  padding: 10px;
  min-height: calc(100vh - 20px);
}

#tab-index-reset {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  position: fixed;
}

#header {
  grid-area: header;
}

#main {
  display: flex;
  flex-direction: column;
}

#footer {
  grid-area: footer;
}

#main .bookmark {
  border-radius: 5px;
  background-color: aliceblue;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

#main .bookmark:hover {
  background-color: lightblue;
}

#main .bookmark {
  z-index: 1;
}

#main .bookmark:focus {
  z-index: 2;
}

#main .bookmark strong {
  position: relative;
  display: inline-block;
  z-index: -1;
}

#main .bookmark strong:after {
  content: '';
  position: absolute;
  width: 100%;
  background: #FFA;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  height: 1.6em;
  width: 1.6em;
  border-radius: 50%;
  z-index: -1;
}

#main .bookmark.keydown strong:after {
  animation-name: grow;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.085, 0.885, 0.275, 0.930);
}

@keyframes grow {
  from {
   height: 1.6em;
   width: 1.6em;
  }
  to {
   height: 200vw;
   width: 200vw;
  }
}

#main .bookmark-parameter {
  text-align: center;
  margin: auto;
}
